[Desktop Entry]
Name=ReGBA
Comment=Game Boy Advance Emulator
Comment[fr]=Émulateur Game Boy Advance
Comment[es]=Emulador Game Boy Advance
X-OD-Manual=manual-en.txt
X-OD-Manual[es]=manual-es.txt
X-OD-Manual[fr]=manual-fr.txt
Exec=regba.elf %f
Icon=regba
X-OD-Manual=regba.man.txt
X-OD-Filter=.zip,.gba
Terminal=false
Type=Application
StartupNotify=true
Categories=emulators;
MimeType=application/x-gba-rom;application/zip;
